/*normalize webpage*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/**************/
/* media query to allow for device changes together with orientation adjustment*/
@media screen { 
    (only screen and (min-width:584px)),
    (only screen and (min-width:584px) and (Orientation: landscape));
}
/**************/
/* format main page container */
#main{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    width: 100vw;
    }
/**************/
/* format top container */
#topcont{
    flex:1;
    flex-wrap:wrap;
    width:100vw;
    max-height:350px;
    background: url("Office-background-picture.jpg");
    background-repeat: no-repeat;
    }
/**************/
/* format navigate class */
.navigate_logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;
    margin-top: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px; 
    text-align: left;
    z-index: 1;
    height:30px;
    background-color: rgba(255, 255, 255, 0.493);
    }
/**************/
/* format Home *//**************/
/* format Logo */
.Logo{
    text-align: right;
    padding: 0px 10px;
}
/**************/
/* format navigate class */
.navigate{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-end;
    margin-top: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px; 
    text-align: right;
    z-index: 1;
    height:30px;
    width:100vw;
    background-color: rgba(255, 255, 255, 0.493);
    }
/**************/
/* format Home */
.Home{
    text-align: left;
    padding: 0px 10px;
}
/**************/
/* format About */
.About{
    text-align: left;
    padding: 0px 10px;
}
/**************/
/* format Login */
.Login{
    text-align: left;
    padding: 0px 10px;
}
/**************/
/*format section */
section{
    padding-bottom:5px;
    max-height:fit-content;
    }
/**************/
/*format content class */
.content{
    flex: 1 content;
    max-height: 30%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: whitesmoke;
    background-color: rgb(53, 53, 116);
    text-align: center;
    position: stickybottom;
    padding:20px;
    }
/**************/
/* bottom container */
#bottomcont{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    height: 418;
    padding: 50px 0px;
    background-color: whitesmoke;
    position:stickybottom;
    }
/**************/
/* format central white content */
.single{
    display: flex;
    max-height: 10%;
    font-weight:bolder;
    font-family: arial, verdana, sans-serif;
    justify-content: center;
    margin: 5px;
    height: 50px;
}
/**************/
/* format holding button boxes */
.boxrow{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-repeat: no-repeat;
    padding: 10px;
}
/**************/
/* format three boxes */
.Box1, .Box2, .Box3{
    flex-grow:1;
    flex-basis: 300px;
    padding: 20px;
    background-color: grey;
    text-align: center;
    justify-content:space-between;
    box-shadow: 10px 10px rgb(53, 53, 116) inset;
}
/**************/
/* format footer */
footer{ 
    font: center bold black;
    font-family: arial, verdana, sans-serif;
    font-size: 12px;
    padding-top: 40px;
    padding-right: 50px;
    position:sticky-bottom;
    text-align: end;
}